*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headerfirst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid grey;  
}
header{
    margin-right: 1rem;
}
.headername{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#instalogo{
    width: 30px; 
    
}
#video{
 width: 45px;
}
#messenger{
    width: 20px;
}
#threads{
    width: 35px;
}
.insta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.v1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-left: 1rem;
}
.v2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}
.v{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
   display: none;
}
.v button {
    border: none;
    background-color: transparent;
}
#instatext{
    width: 170px;
}
.headeralign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#profilepicture{
   width: 130px; 
}
.smallprofile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
.profilename{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profilebutton{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.profilebutton button{
    padding: 0.3rem 0.8rem;
    border: none;
    background-color: rgb(234, 232, 232);
    border-radius: 0.3rem;
}
.threadsbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 0.2rem 0.5rem;
    border-radius: 0.6rem;
    border: none;
}
#add{
    width: 50px;
    margin-top: 1rem;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: grey;
    
}
#add1{
    width: 100px;
}
.namedetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2rem;
    display: none;
}
#settings{
    display: none;
}
#follow{
    border: none;
    background-color: white;
}
.followers{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
    display: none;
}
.addlong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: none;
    padding-right: 30rem;
    border-bottom: 0.5px solid grey;
    padding-bottom: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 19px;
}
.namedetails1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    margin-left: 2rem;
    border-bottom: 0.5px solid grey;
    padding-bottom: 2rem;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) {
    /* Your styles for medium screens go here */
    .headerfirst{
        display: none;
    }
    .add{
        display: none;
    }
    #add{
        width:80px;
    }
    #add1{
        display: flex;
    }
    .addlong{
        display: flex;
    }
    #settings{
        display: flex;
    }
    .profilename{
        display: flex;
        flex-direction: row;
    }
    .profileright{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
    .smallprofile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 1rem;
        margin-right: 5rem;
    }
    #profilepicture{
        width: 250px;
    }
    .followers{
        display: flex;
    }
    .namedetails{
        display: flex;
    }
    .namedetails1{
        display: none;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
}